<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>

<h1>detail added or Modified</h1>

<table>
  <tbody>
    <tr>
      <th>Nom:</th>
    <td>{{ Personnes.nom }}</td>
    </tr>
    <tr>
      <th>Prenom:</th>
      <td>{{ Personnes.prenom }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ Personnes.email }}</td>
    </tr>
    <tr>
      <th>Ville:</th>
      <td>{{ ville.ville }}</td>
    </tr>
    <tr>
      <th>Moyen:</th>
      <td>{{ moyen.moyen }}</td>
    </tr>
    <tr>
      <th>Date de depart:</th>
      <td>{{ Personnes.datededepart }}</td>
    </tr>
    <tr>
      <th>Date de retour:</th>
      <td>{{ Personnes.dederetour }}</td>
    </tr>
    <tr>
      <th>Heure de depart:</th>
      <td>{{ Personnes.heurededepart }}</td>
    </tr>
    <tr>
      <th>Heure de retour:</th>
      <td>{{ Personnes.heurederetour }}</td>
    </tr>
  </tbody>
</table>

<br/>
<a href="/show-articles">View All</a> 
<a href="/update-article/{{ Personnes.id }}">Modify</a>
